[access]
	inheritFrom = All-Projects
[project]
	description = It's a message router client. uses DME2 ( Direct Messaging Engine ) library to locate the end point.\n\nRead-only as per IT-26907
	state = read only
[access "refs/*"]
	owner = group saml/onap-gerrit-dmaap-messagerouter-dmaapclient-committers
	read = deny group GitHub Replication
[plugin "its-jira"]
	enabled = true
