<?xml version="1.0" encoding="UTF-8"?>
<!--
     ============LICENSE_START=======================================================
     org.onap.dmaap
     ================================================================================
     Copyright © 2017 AT&T Intellectual Property. All rights reserved.
     ================================================================================
     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at
           http://www.apache.org/licenses/LICENSE-2.0
     
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
     ============LICENSE_END=========================================================
   
     ECOMP is a trademark and service mark of AT&T Intellectual Property.
     
 -->

<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
  
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="MR" class="org.onap.dmaap.messagerouter.dmaapclient.nsa.mr.logging.MRAppender">
		<param name="Topic" value="Log4J_Topic"/>
		<param name="Partition" value="1"/>
		<param name="Hosts" value="zlxv8619.vci.att.com"/>
		<param name="MaxBatchSize" value="100"/>
		<param name="MaxAgeMs" value="1000"/>
		<param name="Compress" value="false"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss,SSS}][%-5p][%-10t]%m%n" />
		</layout>
	</appender>
	
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss,SSS}][%-5p][%-10t]%m%n" />
		</layout>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
